body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom right, #cce5ff #e6f7ff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
}
.flipbook-container{
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    height: 500px;
    overflow: hidden;
    width: 360px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 1500px;
    position: relative;
}
#pdf-upload{
    margin-bottom: 15px;
    padding: 6px 10px;
    border: none;
    background-color: #99ccff;
    color: white;
    font-weight: 600px;
    cursor: pointer;
}
.navigation{
display: flex;
justify-content: space-between;
width: 100%;
padding-bottom: 10px;
}
.navigation button {
    background-color: #66b3ff;
    border: none;
    padding: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    font-weight: 600px;
    transition: all 0.2s ease;
}
.navigation button:hover{
    background-color: #3399ff;
}
input[type="file"]{
    width: 200px;
    background-color: #eff6ff;
    border: 2px dashed #93c5fd;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}
input[type="file"]::file-selector-button{
    background-color: darkblue;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    margin-right: 10px;
    font-weight: 600px;
    transition: 0.3s;
    font-size: 10px;
}
input[type="file"]::file-selector-button:hover{
    background-color: #60a5fa;
    transform: scale(1.05);
}
canvas{
    background: linear-gradient(to bottom, #ffffff, #f0f8ff);
    display: block;
    border-radius: inherit;
    width: 100%;
    height: 390px;
    box-shadow: inset -2px 0px 8px rgba(0,0,0,0.5);
    transition: transform 0.6s ease;
    transform-origin: left center;
    transform-style: preserve-3d;
}
canvas.flip{
    transform: rotateY('180deg');
    box-shadow: inset -4px 0px 16px rgba(0, 0, 0, 0.5), 4px 0px 20px rgba(0, 0, 0, 0.8);
}
p{
    margin-top: 10px;
    font-weight: 600px;
    color: #004d99;
}
